.btn {
  padding: 0 16px;
  height: 24px;
  /* need to know why this is heere and what it does*/
  /**margin-left: .3em;*/
  font-size: 12px;
  line-height: 20px;
  *line-height: 20px;
  /* need to know why this is heere and what it does*/
  *background-color: #e6e6e6;
}

/* not ie g friendly */
[class^="icon-"], [class*=" icon-"] {
    margin: 0 4px 0 0;
}


.positive-btn:hover {
  border: 1px solid #307812;
  background: #5eb837;
  text-shadow: 0 1px 1px #307812;
  background-image: -moz-linear-gradient(top, #5eb837, #307812);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5eb837), to(#307812));
  background-image: -webkit-linear-gradient(top, #5eb837, #307812);
  background-image: -o-linear-gradient(top, #5eb837, #307812);
  background-image: linear-gradient(to bottom, #5eb837, #307812);
}

.negative-btn:hover {
  background: #990000;
  border: 1px solid #853D3D;
  text-shadow: 0 1px 1px #853D3D;
}

.neutral-btn:hover {
  background: #999999;
  border: 1px solid #888888;
  text-shadow: 0 1px 1px #888888;
}
/* inefficent use of hover and casued by sort-of duplicated button */
.positive-btn:hover,
.negative-btn:hover,
.neutral-btn:hover {
  color: #fff; 
}

/* white icon on colored buttons only */
.positive-btn:hover i,
.negative-btn:hover i,
.neutral-btn:hover i {
    background-image: url("../images/glyphicons-halflings-white.png") !important; 
}


.secondary-btn {
    padding: 0 8px;
}

.tertiary-btn {
    background: #fff;
    border: 1px solid #fff;
    padding: 0 8px;
    box-shadow: none;
}

.btn .caret {
    margin-left: 4px;
    margin-top: 8px;
}

.btn-group > .btn, .btn-group > .dropdown-menu {
    font-size: 12px;
} 
.btn-toolbar {
  margin-top: 0;
}

/* dropdowns */

/* groups */
/*
.positive-btn {}
.negative-btn {}
.neutral-btn {}
*/